/* svg */
#main-shape-ylw,
#main-shape-blw {
	overflow: visible;
}

/* Button Style */
.btn-online-blue {
	color: #fff;
	text-align: center;
	font-size: 19px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	border-radius: 54px;
	border: 1px solid #119da4;
	background: rgba(217, 217, 217, 0);
	padding: 20px 30px;
	transition: all 1s ease-in;
}
.btn-online-blue:hover {
	color: #ffffff;
	background: linear-gradient(90deg, #119da4 0%, #a4a2e0 100%);
}

.df-numb {
	overflow: hidden;
}

.sec-map {
	overflow: hidden;
}
.sec-map .row.border-head-mp {
	margin: 9px;
}


.footer-section .container .copyright-text br {
	display: none;
}

/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
	.wrapper-box.wrapper-padding {
		padding: 0 20px;
	}
}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
	.wrapper-box.wrapper-padding {
		padding: 0;
	}

	.md-margin {
		margin-top: 50px;
	}
	blockquote::before {
		left: 40px;
	}
	blockquote::after {
		right: 40px;
	}
	blockquote {
		padding: 0 85px;
	}
	.team-info h3 {
		font-size: 16px;
		margin-bottom: 2px;
	}
	.team-info span {
		font-size: 12px;
	}
	.section-title.service-title p {
		padding: 0 100px;
	}
	.about-info-text p {
		padding: 0 60px;
	}
	.features-wrap {
		padding: 40px 30px;
	}
	.client-text {
		padding: 0 148px;
	}
}

/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
	.wrapper-box.wrapper-padding {
		padding: 0;
	}
	.top-btn {
		display: none;
	}
	.menu-area {
		padding: 20px 0;
	}
	.logo img {
		margin-top: 20px;
	}
	.slider-content h1 {
		font-size: 54px;
	}
	.slider-content p {
		font-size: 15px;
	}
	.slider-bg {
		height: 600px;
	}
	.about-img img {
		width: 100%;
	}
	blockquote::before {
		display: none;
	}
	blockquote::after {
		display: none;
	}
	blockquote {
		padding: 0 10px;
	}
	.section-title.service-title p {
		padding: 0 0px;
	}
	.single-cta i {
		margin-top: 6px;
	}
	.cta-text h4 {
		font-size: 18px;
	}
	.cta-text span {
		font-size: 12px;
	}
	.footer-pattern img {
		width: 100%;
	}
	.about-info-text p {
		padding: 0;
		font-size: 16px;
	}
	.contact-form-title p {
		width: 70%;
	}
	.call-to-action a {
		padding: 18px 30px;
	}
	.related-project-title.section-title p {
		padding: 0;
		width: 100%;
	}
	.features-wrap {
		padding: 40px 30px;
	}
	.client-text {
		padding: 0;
	}
	.client-text::before,
	.client-text::after {
		display: none;
	}
	.menu-margin-bottom {
		margin-bottom: 0;
	}
	.call-to-action h3 {
		font-size: 26px;
	}
	.sm-mt {
		margin-top: 60px;
	}
	.sticky {
		position: static;
	}
}

/* Extra small Device. */
@media (max-width: 767px) {
	#main-shape-ylw {
		top: 273px;
		right: 20%;
	}
	#main-shape-blw {
		right: -20%;
	}

	.pin-spacer .main-text p {
		font-size: 3rem;
	}

	.df-in-numbers .fsec-title {
		text-align: center;
		font-size: 31px;
	}
	.df-numb {
		border-radius: 41px;
	}
	.nums * {
		font-size: 62px !important;
	}

	.sec-video .text p {
		margin: 0;
	}
	.sec-video .cta-wrapper {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.sec-video .video-cover {
		border-radius: 41px;
	}

	.sec-people .r-testi h1 {
		font-size: 33px;
	}

	.sec-map .row.border-head-mp {
		padding: 20px;
		border-radius: 41px;
	}
	.sec-map .boxies {
		flex-direction: column;
	}
	.sec-map .boxies .txt-left {
		font-size: 20px;
		line-height: 34px;
		text-align: center;
		padding: 20px;
	}
	.sec-map .txt-center {
		margin: 0;
		text-align: center;
		margin-bottom: 26px;
	}

	#factory h1 {
		font-size: 30px;
		text-align: center;
	}
	#factory .col-xl-12.col-12.mb-90.d-flex {
		margin-bottom: 42px;
	}
	#factory .marquee,
	#factory .marquee2,
	#factory .marquee3 {
		padding-bottom: 45px;
	}

	.footer-section .container {
		padding: 20px;
		text-align: center;
	}
	.footer-section .container .row {
		gap: 20px;
	}
	.footer-section .container .footer-logo img {
		height: 64px;
		margin-bottom: 39px;
	}
	.footer-section .container .copyright-text p {
		color: #d9d9d9;
		font-size: 12px;
	}
	.footer-section .container .copyright-text br {
		display: block;
	}

	/* header,
	main,
	footer {
		display: none;
	} */
	.mobile_ver {
		display: block;
	}
	.header-top.blue-bg {
		padding: 10px 0;
	}
	.sticky {
		position: static;
	}
	.wrapper-box.wrapper-padding {
		padding: 0;
	}
	.top-btn {
		display: none;
	}
	.menu-area {
		padding: 20px 0;
	}
	.logo img {
		margin-top: 20px;
	}
	.slider-content h1 {
		font-size: 40px;
	}
	.slider-content p {
		font-size: 14px;
	}
	.btn {
		padding: 15px 25px;
	}
	.slider-bg {
		height: 480px;
	}
	.about-img img {
		width: 100%;
	}
	.section-title.service-title p {
		padding: 0;
	}
	.services-img img {
		width: 100%;
	}
	.portfolio-thumb img {
		width: 100%;
	}
	blockquote::before {
		display: none;
	}
	blockquote::after {
		display: none;
	}
	blockquote {
		padding: 0;
	}
	.footer-pattern img {
		width: 100%;
	}
	.about-info-text h2 {
		font-size: 24px;
	}
	.about-info-text p {
		padding: 0;
		font-size: 14px;
	}
	.contact-form-title p {
		width: 100%;
	}
	.breadcrumb-title.sm-size h2 {
		font-size: 28px;
	}
	.related-project-title.section-title p {
		padding: 0;
		width: 100%;
	}
	.display-none {
		display: none;
	}
	.client-text {
		padding: 0;
		font-size: 14px;
	}
	.client-text::before,
	.client-text::after {
		display: none;
	}
	.white-text h3 {
		font-size: 30px;
	}
	.slider-content h1 {
		font-size: 36px;
	}
	.portfolio-menu {
		display: none;
	}
	.home-three-about {
		margin-top: 0;
		padding-top: 0;
	}
	.slider-two-bg {
		height: 600px;
	}
	.menu-margin-bottom {
		margin-bottom: 0;
	}
	.call-to-action h3 {
		font-size: 26px;
	}
	.blog-title {
		font-size: 24px;
	}
	.sm-d {
		display: none !important;
	}
	.sm-mt {
		margin-top: 60px;
	}
	.comments-reply {
		padding-left: 0;
	}
	.comments-avatar {
		float: none;
		width: 83px;
		margin-bottom: 20px;
	}
	.comments-text {
		padding-left: 0;
	}
	.comments-avatar img {
		width: 100%;
	}
}
/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.about-info-text h2 {
		font-size: 35px;
	}
	.slider-content h1 {
		font-size: 40px;
	}
	.portfolio-menu {
		display: block;
	}
	.home-three-about {
		margin-top: -265px;
		padding-top: 15px;
	}
	.sm-d {
		display: inline-block !important;
	}
	.comments-avatar {
		float: left;
		width: 103px;
	}
	.comments-avatar img {
		width: 100%;
	}
	.comments-text {
		overflow: hidden;
		padding-left: 30px;
	}
	.comments-reply {
		padding-left: 130px;
	}
}
