:root {
  --emerald: rgba(0, 204, 116, 1);
  --viridian-green: rgba(17, 157, 164, 1);
  --rich-black: rgba(12, 22, 24, 1);
  --orange-red-crayola: rgba(254, 84, 72, 1);
  --mikado-yellow: rgba(254, 198, 1, 1);
  --gray: rgba(217, 217, 217, 1);
  --puple: rgba(164, 162, 224, 1);
  --body-text-font-family: "Epilogue", Helvetica;
  --body-text-font-weight: 400;
  --body-text-font-size: 20px;
  --body-text-letter-spacing: 0px;
  --body-text-line-height: 146.30000591278076%;
  --body-text-font-style: normal;
  --heading-1-font-family: "Epilogue", Helvetica;
  --heading-1-font-weight: 700;
  --heading-1-font-size: 102px;
  --heading-1-letter-spacing: 0px;
  --heading-1-line-height: normal;
  --heading-1-font-style: normal;
  --heading-2-font-family: "Epilogue", Helvetica;
  --heading-2-font-weight: 700;
  --heading-2-font-size: 46px;
  --heading-2-letter-spacing: 0px;
  --heading-2-line-height: 125%;
  --heading-2-font-style: normal;
  --variable-collection-rich-black-95: rgba(24, 34, 36, 1);
}
